Repository offensive-vk/Classics, changes with the labels that .github/labeler.yml gives for each.
All labels: algorithm, asm, c, c++, ci/cd, documentation, docs, shell, pr_template, unknown

Update All Workflows.
  .github/workflows/flawfinder.yml
  .github/workflows/pr-bot.yml
  .github/workflows/stale.yml
Labels: ci/cd

Update and rename pr-bot-template.md to PR_BOT_TEMPLATE.md
  .github/PR_BOT_TEMPLATE.md
Labels: documentation, docs

Update pr-bot-template.md
  .github/pr-bot-template.md
Labels: documentation, docs, pr_template

Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: documentation, docs, pr_template

Updated CI.
  .github/workflows/flawfinder.yml
  .github/workflows/mirror.yml
  .github/workflows/pr-bot.yml
  .github/workflows/stale.yml
Labels: ci/cd

.github/labeler.yml:

algorithm:
  - 'Algorithm/*'

asm:
  - '**/*.asm'

c:
  - C/*
  - '**/*.c'

c++:
  - C++/*
  - '**/*.cpp'
  - '**/*.c++'
  - '**/*.cxx'
  - '**/*.ixx'

ci/cd:
  - '*.yml'
  - .github/workflows/*.yml

documentation:
  - '**/*.md'
  - .github/*

docs:
  - '**/*.md'

shell:
  - '**/*.sh'
  - Bash/*

pr_template:
  - .github/PULL_REQUEST_TEMPLATE.md
  - .github/pr-bot-template.md

unknown:
  - '**/*.py'
  - '**/*.toml'
  - '**/*.php'
  - '**/*.js'
  - '**/*.ts'
  - '**/*.rs'
  - '.gitignore'
  - '.gitattributes'
  - 'LICENSE'
