Repository offensive-vk/Classics, changes with the labels that .github/labeler.yml gives for each.
All labels: algorithm, asm, c/c++, ci/cd, documentation, shell, pr_template, unknown, dotfiles

.github/labeler.yml:

algorithm:
  - 'Algorithm/*'

asm:
  - '**/*.asm'

c/c++:
  - 'C++/*'
  - '**/*.cpp'
  - '**/*.hpp'
  - '**/*.c++'
  - '**/*.cxx'
  - '**/*.ixx'
  - 'C/*'
  - '**/*.c'
  - '**/*.h'

ci/cd:
  - '*.yml'
  - '*.yaml'
  - '.github/workflows/*.yml'

documentation:
  - '**/*.md'
  - '.github/*.md'

shell:
  - '**/*.sh'
  - 'Bash/*'

pr_template:
  - '.github/PULL_REQUEST_TEMPLATE.md'
  - '.github/PR_BOT_TEMPLATE.md'

unknown:
  - '**/*.py'
  - '**/*.toml'
  - '**/*.php'
  - '**/*.js'
  - '**/*.ts'
  - '**/*.rs'

dotfiles:
  - 'CODEOWNERS'
  - '.gitignore'
  - '.gitattributes'
  - 'LICENSE'

Update label.yml
  .github/workflows/label.yml
Labels: ci/cd

Fix Last Commit.
  .github/workflows/label.yml
Labels: ci/cd

Change Issue.
  .github/workflows/auto-pr.yml
Labels: ci/cd

Disable Classics Workflow.
  .github/workflows/auto-pr.yml
  .github/workflows/label.yml
  .github/workflows/stale.yml
Labels: ci/cd

Refractoring and CI Updates.
  .gitattributes
  .github/PR_BOT_TEMPLATE.md
  .github/workflows/auto-issue.yml
  .github/workflows/auto-pr.yml
  .github/workflows/label.yml
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  SECURITY.md
Labels: ci/cd, documentation, pr_template, dotfiles

---
  .github/workflows/auto-issue.yml
Labels: ci/cd

Common Faults & Fixes
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/problem-in-any-program.md
  .github/workflows/auto-issue.yml
  .github/workflows/auto-pr.yml
  .github/workflows/flawfinder.yml
  .github/workflows/label.yml
  .github/workflows/mirror.yml
  .github/workflows/stale.yml
Labels: ci/cd, documentation

Finales
  .gitattributes
  .github/workflows/auto-pr.yml
Labels: ci/cd, dotfiles

Updated Ci
  .github/dependabot.yml
  .github/workflows/auto-issue.yml
  .github/workflows/auto-label.yml
  .github/workflows/auto-quote.yml
  .github/workflows/deploy.yml
  .github/workflows/flawfinder.yml
  .github/workflows/mirror.yml
  .github/workflows/morning.yml
  .github/workflows/stale.yml
Labels: ci/cd
